<h1>Projects</h1>

<div class="card-deck">
  <% @projects.each do |project| %>
    <div class="card">
      <% if project.id == 1 %>
        <img src="/assets/1.jpg" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Project 1</h5>
          <p class="card-text">Description of Project 1</p>
          <%= link_to "Ver más", project_path(project), class: "btn btn-primary" %>
        </div>
      <% elsif project.id == 2 %>
        <img src="/assets/2.png" class="card-img-top" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">Project 2</h5>
          <p class="card-text">Description of Project 2</p>
          <%= link_to "Ver más", project_path(project), class: "btn btn-primary" %>
        </div>
      <% elsif project.id == 3 %>
        <img src="/assets/3.png" class="card-img-top" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Project 3</h5>
          <p class="card-text">Description of Project 3</p>
          <%= link_to "Ver más", project_path(project), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
